<!doctype html>
<html lang="en" id="index-html">
<head>
	<% include ../partials/head %>
</head>
<body id="index-body-results">

	<header>
		<% include ../partials/header %>
	</header>
	
	<main id="index-main-results">
		SAVED ARTICLES
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>